<h1><%= @dice %>d<%= @side %></h1>

<p><a href="/process_roll">Roll again</a> | <a href="/">Go back home</a></p>

<ol>

  <% for(x in @rolls) %>

    <li><span style="font-style: italic">Result:</span><% x %></li>

  <% end %>

</ol>
